footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 60px;
  background-color: var(--portafolio-orange);
}

footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-content: center;
}

footer .left ul{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.left li {
  margin: 10px 0;
}

.left a {
  text-decoration: none;
  color: var(--just-white);
}

.rigth img {
  height: 24px;
}